<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net452" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net452" />
  <package id="JSON" version="1.0.1" targetFramework="net452" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net452" />
  <package id="NAudio" version="1.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Pdfium.Net.SDK" version="3.8.1" targetFramework="net452" />
</packages>